body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.sidebar {
    overflow: hidden;
    position: absolute;
    display: block;
    z-index: 101;
    top: 0;
    right: 0;
}

.municipality {
    right: 0;
    overflow: scroll;
    padding: 0 30px;
    height: 100vh;
    width: 100vw;
    max-width: 550px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.close_button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 7px;
    margin: 10px;
    font-size: 26px;
    z-index: 102;
}

.close_button:hover {
    color: gray;
}

#mapid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#info-pane {
    position: absolute;
    top: 10px;
    right: 70px;
    z-index: 400;
    padding: 1em;
    background: white;
    z-index: 80;
    font-size: 15px;
}

.utilities {
    display: block;
    position: absolute;
    left: 10px;
    top: 95px;
    z-index: 80;
}

.legends-content {
    right: 5px;
    top: 100px;
    width: 220px;
    background-color: khaki;
    padding: 10px 10px 10px 0;
}

.legends-content h3 {
    margin: 0;
}

.dropbtn {
    background-color: inherit;
    color: black;
    padding: 7px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: rgba(45, 213, 255, 0.7);
    font-size: 15px;
    font-weight: lighter;
    overflow: auto;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.surface {
    width: 100%;
}

.surface_button {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    border: none;
    margin: 0;
    background-color: inherit;
}

.surface_button:hover {
    background-color: beige;
}

.detailSheets {
    width: 100%;
    border: none;
    background-color: inherit;
}

.hide {
    display: none;
}

.transition {
    transition: 0.5s;
}

.divIcon {
    position: absolute;
    float: left;
}

.label {
    font-size: 13px;
}

.imgLabel {
    height: 15px;
    width: 15px;
    font-size: 13px;
    margin-left: 23px;
}

.servicesLabel {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.getAttachment {
    border: none;
    background-color: inherit;
    font-size: 12px;
}

.getAttachment:hover {
    background-color: beige;
}